body{
    background-image: url(/images/whitewp.jpg);
    background-size: cover;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 10%;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

.container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}


h3 {
  font-weight: 300;
}

button{
  transition-duration: 0.6s;
  border: 1px;
  cursor: pointer;
  border-radius: 50px;
}



button:hover{
  font-size: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
 }
 
 .tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
 }
 
 .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
  visibility: visible;
 }